# Gateway
OPENCLAW_GATEWAY_PORT=18789
TZ=America/Vancouver
OPENCLAW_GATEWAY_TOKEN=
GITHUB_TOKEN=

# Provider/API settings
OPENAI_BASE_URL=
OPENAI_API_KEY=
BRAVE_SEARCH_API_KEY=
OPENCLAW_PERPLEXITY_API_KEY=
OPENCLAW_PERPLEXITY_MODEL=

# Channels
OPENCLAW_SIGNAL_HTTP_URL=

# Home Assistant
HA_TOKEN=
HA_UI_PASS=
HA_UI_USER=
HA_URL=

# Portainer
PORTAINER_API_KEY=
PORTAINER_URL=
